.h1{
    text-align:center;
    font-family: 'Ubuntu', sans-serif;
    color: orange;
    font-size: 90px
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}
.info{
    text-align:center;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 25px
}
.w3{
    margin-left: 10%
}
.img{
    width: 13%;
    border-radius: 50%;
    position: absolute;
    top:10px;
    left:16px;
}





